/*
debug: env GTK_DEBUG=interactive ghostty
https://docs.gtk.org/gtk4/css-overview.html
https://docs.gtk.org/gtk4/css-properties.html
*/

* {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0px;
}

tabbar {
  background-color: #1e1e2e;
}

tabbar tabbox {
  color: #cdd6f4;
  margin: 0px -5px;
  min-height: 26px;
}

tabbar tabbox separator {
  color: #1e1e2e;
}

tabbar tabbox tab {
  background-color: #1e1e2e;
  color: #cdd6f4;
}

tabbar tabbox tab:selected {
  background-color: #c6a0f6;
  color: #181926;
}

tabbar tabbox tab label {
  font-family: "NotoMono Nerd Font";
  font-size: 14px;
}
